<!-- HERO -->
<tr>
  <td bgcolor="#474467" align="center" style="padding: 0px 10px 0px 10px;">
    <!--[if (gte mso 9)|(IE)]>
      <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
        <tr>
          <td align="center" valign="top" width="600">
    <![endif]-->
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
      <tr>
        <td
          bgcolor="#ffffff"
          align="center"
          valign="top"
          style="padding: 40px 20px 20px 20px; border-radius: 4px 4px 0px 0px; color: #3A384C; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 400; line-height: 48px;"
        >
          <h1 style="font-size: 48px; font-weight: 400; margin: 0;">
            <%= gettext("The group %{group} has been suspended on %{instance}!",
              group: display_name(@group),
              instance: @instance_name
            ) %>
          </h1>
        </td>
      </tr>
    </table>
    <!--[if (gte mso 9)|(IE)]>
    </td>
  </tr>
</table>
    <![endif]-->
  </td>
</tr>
<!-- COPY BLOCK -->
<tr>
  <td bgcolor="#E6E4F4" align="center" style="padding: 0px 10px 0px 10px;">
    <!--[if (gte mso 9)|(IE)]>
      <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
        <tr>
          <td align="center" valign="top" width="600">
    <![endif]-->
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
      <!-- COPY -->
      <tr>
        <td
          bgcolor="#ffffff"
          align="left"
          style="padding: 20px 30px 0px 30px; color: #474467; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;"
        >
          <p style="margin: 0;">
            <%= gettext(
              "Your instance's moderation team has decided to suspend <b>%{group_name}</b> (%{group_address}). You are no longer a member of this group.",
              group_name: escape_html(display_name(@group)),
              group_address: preferred_username_and_domain(@group)
            )
            |> raw %>
          </p>
        </td>
      </tr>
      <%= if is_nil(@group.domain) do %>
        <tr>
          <td
            bgcolor="#ffffff"
            align="left"
            style="padding: 20px 30px 40px 30px; color: #474467; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;"
          >
            <p style="margin: 0">
              <%= gettext(
                "As this group was located on this instance, all of it's data has been irretrievably deleted."
              ) %>
            </p>
          </td>
        </tr>
      <% else %>
        <tr>
          <td
            bgcolor="#ffffff"
            align="left"
            style="padding: 20px 30px 40px 30px; color: #474467; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;"
          >
            <p style="margin: 0">
              <%= gettext(
                "As this group was located on another instance, it will continue to work for other instances than this one."
              ) %>
            </p>
          </td>
        </tr>
      <% end %>
    </table>
    <!--[if (gte mso 9)|(IE)]>
    </td>
  </tr>
</table>
    <![endif]-->
  </td>
</tr>
